* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

body {
  background: #ebebeb;
  width: 99vw;
  transition: 0.2s;
}

input[type="checkbox"] {
  display: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 1rem 2rem;

  background-color: #eceff1;
  
  box-shadow: .5px .5px 10px .5px #000;
}

nav h1 {
  margin-left: 45px;
}

#menu {
  display: flex;
  gap: 24px;
  margin-right: 30px;
  justify-content: space-around;
  cursor: pointer;
  margin-left: 55%;
}

.links-menu {
  text-decoration: none;
  color: #000;
}

main {
  position: absolute;
  max-width: 80vw;
  height: 2044px;
  left: 12%;
  top: 22%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

header {
  display: flex;
}

.text {
  text-align: center;
  width: 55%;
  margin-left: 145px;
}

#skills {
  margin: 38% 72% 0% 17%;
  width: 450px;

  transform: translatey(0px);
  animation: float 5s ease-in-out infinite;
}

#skills h2 {
  margin: 11% 39% 2%;
  font-weight: bold;

  transform: translatey(0px);
  animation: float 5s ease-in-out infinite;
  filter: drop-shadow(0 0 0.4em rgba(68, 67, 67, 0.979));
}

svg {
  max-width: 17%;
  margin: 4px;
  max-width: 13%;
  margin: 3px;
  filter: drop-shadow(0 0 0.4em rgba(68, 67, 67, 0.979));
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.eu img {
  max-width: 194px;
  border-radius: 101px;
  margin-left: 21%;
}

.texth2 {
  height: 10%;
  margin-top: 2%;
  text-align: justify;
  font-weight: bold;
}

.eu h3 {
  max-width: 86%;
  margin-left: 5%;
  font-weight: 300;
}

.eu h4 {
  margin-left: 45%;
}

.titulos {
  margin: 17% 0% 10% 43%;
}

.projetos {
  display: flex;
  perspective: 900px;
  justify-content: space-around;

  margin-top: 5%;
  height: 420px;
  width: 100%;
}

.img {
  width: 38%;
  height: 87%;
  border-radius: 4px;
  position: relative;
  transform-style: preserve-3d;
  will-change: transform;
  transition: transform 0.5s;
  filter: drop-shadow(0 0 0.4em rgba(68, 67, 67, 0.979));
}

.link {
  text-decoration: none;
  color: black;
}

.title {
  font-size: 22px;
  color: white;
  position: absolute;
  top: 80%;
  left: 2%;
  transform: translateY(-50%);
  transition: transform 0.5s;
}
.conteudo1 {
  background: url(./assets/Mario.png) center no-repeat;
  background-size: contain;
}

.conteudo2 {
  background: url(./assets/Dark\ mode.png) center no-repeat;
  background-size: contain;
}

.conteudo3 {
  background: url(./assets/Todolist.png) center no-repeat;
  background-size: contain;
}

.conteudo4 {
  background: url(./assets/Gerador\ de\ Senha.png) center no-repeat;
  background-size: contain;
}

.conteudo5 {
  background: url(./assets/BurguerpedidosREACT.png) center no-repeat;
  background-size: contain;
}

.conteudo6 {
  background: url(./assets/Todolist\ REACT.png) center no-repeat;
  background-size: contain;
}

.img:hover {
  transform: translateZ(10px) rotate(20deg) rotateY(30deg);
}

.img:hover .title {
  transform: translateZ(50px);
}

.linha {
  height: 1px;
  width: 100%;
 
  margin: 15px;
  
}

#btnTop {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.arrow {
  border: solid #ebebeb;
  border-width: 0 7px 7px 0;
  padding: 5px;
  display: inline-block;
  margin-top: 19px;
  margin-left: 16px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
#contato {
  width: 37%;
  margin-left: 32%;
  height: 4%;
}
#contato h2 {
  margin-left: 37%;
  margin-bottom: 4px;
}

#contato a {
  text-decoration: none;
  margin-left: 22%;
  font-weight: bold;
}

.bi {
  font-size: 1.3rem;
  cursor: pointer;
}

.bi-moon{
  display: none;
}

.dark .bi-sun{
  display: none;
}

.dark .bi-moon{
  display: block;
}

.dark,
.dark nav{
  background-color: #263238;
  color: #fff;
}

.dark a{
  color: #fff;
}

.dark svg{
  filter: drop-shadow(0 0 0.4em rgba(252, 249, 249, 0.979));
}

.dark h1{
  color: #fff;
}

.init-hidden {
  opacity: 1;
  transition: opacity 1s linear;
}

.init-hidden-off {
  opacity: 1;
}


